{% extends 'checks/checks_base.html'%}

 
{% block title %}
		
	Delete Product
{% endblock %}


{% block content %}
<div class="features">
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}
</style>
	
	

	<form action="{{product.get_delete_url}}" method='post'>
		{% csrf_token %}
	<h3>Вы уверены, что хотите удалить объект?<b>"{{product.name}}"</b></h3>
	<a href="{{product.get_absolute_url}}">Отменить</a>
	<button type="submit" class="btn btn-danger">Удалить</button>
	</form>

</div>
{% endblock %} 

